.top-gallery{
  background-color: #F2E9D2;
  padding-top: 30px;

}
.top-gall{
  margin-bottom: 50px;
}
/* .img4{
  width: 609px;
  height: 473px;
  
}
.img1{
  height: 669px;
  width: 430px;
}
.img2{
  height: 273px;
  width: 304px;
}
.img3{
  height: 273px;
  width: 304px;
} */
.tex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}
.memory{
  background-color: #D4AD76;
}